.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
node_modules/
vendor/
*.log
php_errors.log
.env
src/server_ssh.png
src/ssh_server_zugang.txt
public/media/hallenberg_vids/*.mp4
data/*.sqlite
data/*.db
data/users.json
public/media/docs/PfGenster/
